<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<h3>Querylists</h3>


<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Emailaddres</th>
      <th>Query</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @querylists["result"].each do |querylist| %>
      <tr>
        <td><%= querylist["email"] %></td>
        <td><%= querylist["query"]%></td>
        <td><%= querylist["createdAt"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Querylist', new_querylist_path %>
