<p id="notice"><%= notice %></p>

<p>
  <strong>Emailaddres:</strong>
  <%= @querylist.emailaddres %>
</p>

<p>
  <strong>Query:</strong>
  <%= @querylist.query %>
</p>

<%= link_to 'Edit', edit_querylist_path(@querylist) %> |
<%= link_to 'Back', querylists_path %>
